@page "/"

@using Unified_DevOps_Hub.Class
@inject UzytkownicyContext _context



<div class="main-container">
    <div class="login-form">
        <h2>Logowanie</h2>
        <EditForm Model="@użytkownik" OnValidSubmit="@HandleLogin">
            <InputText id="loginOrEmail" @bind-Value="loginOrEmail" placeholder="Login lub Email" />
            <InputText type="password" id="password" @bind-Value="użytkownik.Haslo" placeholder="Hasło" />
            <button type="submit">Zaloguj się</button>
        </EditForm>
    </div>
</div>

<style>
    .main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: url("C:\Users\KacperCudzik\Downloads\DALL·E 2023-12-29 10.55.33 - Create a simple, sleek logo icon for 'Unified DevOps Hub' similar to the previously generated image but without any background or additional objects. .png");
    }

    .login-form {
        padding: 20px;
        background: white;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

        .login-form h2 {
            color: #333;
            margin-bottom: 20px;
        }

    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        border-bottom: 2px solid #ccc;
        font-size: 16px;
    }

    button {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 18px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        button:hover {
            background-color: #0056b3;
        }
</style>

@code {
    
    private Użytkownicy użytkownik = new Użytkownicy();
    private string loginOrEmail;
    private void HandleLogin()
    {
        var user = new Użytkownicy();
        // Sprawdź, czy loginOrEmail zawiera '@', jeśli tak, traktuj jako email
        if (loginOrEmail.Contains("@"))
        {
            // Wyszukaj użytkownika po emailu
            user = _context.Użytkownicy.FirstOrDefault(u => u.Email == loginOrEmail);
        }
        else
        {
            // Wyszukaj użytkownika po loginie
            user = _context.Użytkownicy.FirstOrDefault(u => u.Login == loginOrEmail);
        }

        if (user != null && user.Haslo == użytkownik.Haslo) // Należy użyć bezpiecznego porównywania haseł
        {
            // Użytkownik zalogowany pomyślnie
            // Tutaj implementuj logikę po zalogowaniu
        }
        else
        {
            // Błąd logowania
        }
    }
}
